<nav class="mainNav" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
  <meta itemprop="about" content="Menu Principal">
  <ul class="mainNav-list" aria-label="Menu principal">
    <li class="mainNav-item">
      <a class="mainNav-link" href="<%= __('nav.main.home.url') %>" itemprop="url"><span itemprop="name"><%= __('nav.main.home.title') %></span></a>
    </li>
    <li class="mainNav-item">
      <a class="mainNav-link" href="<%= __('nav.main.about.url') %>" itemprop="url"><span itemprop="name"><%= __('nav.main.about.title') %></span></a>
    </li>
    <li class="mainNav-item">
      <a class="mainNav-link" href="<%= __('nav.main.work.url') %>" itemprop="url"><span itemprop="name"><%= __('nav.main.work.title') %></span></a>
    </li>
    <li class="mainNav-item">
      <a class="mainNav-link" href="<%= __('nav.main.blog.url') %>" itemprop="url"><span itemprop="name"><%= __('nav.main.blog.title') %></span></a>
    </li>
    <li class="mainNav-item">
      <a class="mainNav-link" href="<%= __('nav.main.contact.url') %>" itemprop="url"><span itemprop="name"><%= __('nav.main.contact.title') %></span></a>
    </li>
  </ul>
</nav>
